<a href="https://colab.research.google.com/github/lunahsuu/Introdaction-to-Computers/blob/main/%E6%9C%9F%E6%9C%AB%E8%80%83%E7%B7%B4%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("test")

test

In [2]:
temp = float(input("請輸入你的體溫"))
if temp >= 37.5:
  print("體溫過高!")
elif temp >= 37 and temp <= 37.4:
  print("體溫略高!")
elif temp >= 34 and temp <= 36.9:
  print("體溫正常!")
else: 
  print("體溫異常,請重新量測!")

請輸入你的體溫36.9
體溫正常!

In [3]:
money = int(input("請輸入購物金額:"))
if(money>=10000):
  if(money>=100000):
    print("八折", money * 0.8, end = "元\n")
  elif(money>=50000):
    print("八五折", money * 0.85, end = "元\n")
  elif(money>=30000): 
    print("九折", money * 0.9, end = "元\n")
  else:
    print("九五折", money * 0.95, end = "元\n")
else:
  print("沒打折", money, end= "元\n")

請輸入購物金額:100000
八折 80000.0元

In [4]:
grade = int(input("請輸入成績"))
if (grade >=90):
  print("A")
elif (90>grade>=80):
  print("B")
elif (80>grade>=70):
  print("C")
elif (70>grade>=60):
  print("D")
else:
  print("E")
grade = int(input("請輸入成績"))
if (grade >=90):
  print("A")
elif (90>grade>=80):
  print("B")
elif (80>grade>=70):
  print("C")
elif (70>grade>=60):
  print("D")
else:
  print("E")
grade = int(input("請輸入成績"))
if (grade >=90):
  print("A")
elif (90>grade>=80):
  print("B")
elif (80>grade>=70):
  print("C")
elif (70>grade>=60):
  print("D")
else:
  print("E")

請輸入成績90
A
請輸入成績80
B
請輸入成績50
E

In [5]:
month = int(input("請輸入月份"))
if (month == 3 or month == 4 or month == 5):
   print(" %d 月是春天!"%(month))
elif (month == 6 or month == 7 or month == 8):
   print(" %d 月是夏天!"%(month))
elif (month == 9 or month == 10 or month == 11):
   print(" %d 月是秋天!"%(month))
elif (month == 12 or month == 1 or month == 2):
  print(" %d 月是冬天!"%(month))
else:
  print("月份不在範圍內!")

請輸入月份11
 11 月是秋天!

In [6]:
Tax = float(input("請輸入今年收入淨額"))
if (Tax >=2000000):
  print("付稅金額", Tax*0.3 ,end= "元\n")
elif (2000000> Tax >=1000000):
  print("付稅金額", Tax*0.21 ,end= "元\n")
elif (1000000> Tax >=600000):
  print("付稅金額", Tax*0.13 ,end= "元\n")
elif (600000> Tax >=300000):
  print("付稅金額", Tax*0.06 ,end= "元\n")
else:
  print("付稅金額", 0 ,end= "元\n")
Tax = float(input("請輸入今年收入淨額"))
if (Tax >=2000000):
  print("付稅金額", Tax*0.3 ,end= "元\n")
elif (2000000> Tax >=1000000):
  print("付稅金額", Tax*0.21 ,end= "元\n")
elif (1000000> Tax >=600000):
  print("付稅金額", Tax*0.13 ,end= "元\n")
elif (600000> Tax >=300000):
  print("付稅金額", Tax*0.06 ,end= "元\n")
else:
  print("付稅金額", 0 ,end= "元\n")

請輸入今年收入淨額100000
付稅金額 0元
請輸入今年收入淨額2000000
付稅金額 600000.0元

In [7]:
print("hi")

hi

In [10]:
i = range(5)
print(type(i))
print(i)
print(list(i))

<class 'range'>
range(0, 5)
[0, 1, 2, 3, 4]

In [11]:
j = range(10)
print(j)
print(list(j))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
a = range(3,8)
print(list(a))
b = range(-2,4)
print(list(b))
c = range(3,8,1)
print(list(c))
d = range(3,8,2)
print(list(d))
e = range(8,3,-1)
print(list(e))
f = range(9)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,1,-2)
print(list(i))

[3, 4, 5, 6, 7]
[-2, -1, 0, 1, 2, 3]
[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [17]:
for n in range(3):
    print(n, end =",")
for n in range(10):
    print(n, end =",")

0,1,2,0,1,2,3,4,5,6,7,8,9,

In [18]:
test = int(input("請輸入一個正整數："))
for m in range(1,test+1):
    print(m, end = " ")

請輸入一個正整數：10
1 2 3 4 5 6 7 8 9 10

In [19]:
test = int(input("請輸入一個正整數："))
for m in range(1,test+1,2):
    print(m, end = " ")

請輸入一個正整數：10
1 3 5 7 9

In [21]:
sum = 0
for n in range(3):
    sum =sum+n
print(sum)
sum = 0
for n in range(5):
    sum =sum+n
print(sum)

3
10

In [25]:
sum = 0
test = int(input("請輸入一個正整數："))
for n in range(1, test+1):
    sum = sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數：50
1到 50 的整數和為 1275

In [26]:
sum = 0
test = int(input("請輸入一個正整數："))
for m in range(1, test+1 ):
   sum = sum+m
   print("1到"+str(m)+"的整數和為：",sum)

請輸入一個正整數：50
1到1的整數和為： 1
1到2的整數和為： 3
1到3的整數和為： 6
1到4的整數和為： 10
1到5的整數和為： 15
1到6的整數和為： 21
1到7的整數和為： 28
1到8的整數和為： 36
1到9的整數和為： 45
1到10的整數和為： 55
1到11的整數和為： 66
1到12的整數和為： 78
1到13的整數和為： 91
1到14的整數和為： 105
1到15的整數和為： 120
1到16的整數和為： 136
1到17的整數和為： 153
1到18的整數和為： 171
1到19的整數和為： 190
1到20的整數和為： 210
1到21的整數和為： 231
1到22的整數和為： 253
1到23的整數和為： 276
1到24的整數和為： 300
1到25的整數和為： 325
1到26的整數和為： 351
1到27的整數和為： 378
1到28的整數和為： 406
1到29的整數和為： 435
1到30的整數和為： 465
1到31的整數和為： 496
1到32的整數和為： 528
1到33的整數和為： 561
1到34的整數和為： 595
1到35的整數和為： 630
1到36的整數和為： 666
1到37的整數和為： 703
1到38的整數和為： 741
1到39的整數和為： 780
1到40的整數和為： 820
1到41的整數和為： 861
1到42的整數和為： 903
1到43的整數和為： 946
1到44的整數和為： 990
1到45的整數和為： 1035
1到46的整數和為： 1081
1到47的整數和為： 1128
1到48的整數和為： 1176
1到49的整數和為： 1225
1到50的整數和為： 1275

In [33]:
for i in range(2,10):
  for j in range(1,10):
    product= i * j
    print("%d*%d=%2d" % (i,j,product),end=" ")
  print( )

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [27]:
s=""
for i in (1,2,3,4,5,6,7,8,9):
    for j in(1,2,3,4,5,6,7,8,9):
        s+=str(i)+"*"+str(j)+"="+str(i*j)+"\t"
    s+="\n"
print(s)

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [34]:
a=int(input("請輸入a的值:"))
b=int(input("請輸入b的值:"))

maxno=a*b
for i in range(1,maxno+1):
  if(i % a==0 and i%b==0):
   break
print("%d和 %d的最小公倍數=%d" %(a,b,i))

請輸入a的值:5
請輸入b的值:4
5和 4的最小公倍數=20

In [29]:
a = int(input("請輸入a的值："))
b = int(input("請輸入b的值："))
for i in range(1, (a*b)+1):
    if(i %a == 0 and i %b == 0):
        break
print("%d 和 %d 的最小公倍數=%d " %(a,b,i))

請輸入a的值：4
請輸入b的值：6
4 和 6 的最小公倍數=12

In [30]:
n = int(input("請輸入正整數："))
for i in range(1,n+1):
    if i % 5 == 0:
      continue
    print(i,end=" ")

請輸入正整數：12
1 2 3 4 6 7 8 9 11 12

In [31]:
n = int(input("請輸入正整數："))
for i in range(1,n+1):
    if i % 5 == 0:
      continue
    print(i,end=" ")

請輸入正整數：21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21

In [35]:
total=n=0
while(n<10):
  n+=1
  total+=n
print(total)

55

In [36]:
total=i=1
n=int(input("請輸入正整數n的值"))
while i<=n:
  total*=i
  i+=1
print("%d!=%d" % (n,total))

請輸入正整數n的值100
100!=93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [37]:
sumA=0
sumB=0
for i in range(0,51):
  if i%2==0:
    sumB=sumB+i
  else:
    sumA=sumA+i
print("0到50的偶數和結果是:"+str(sumB)) 
print("0到50的奇數和結果是:"+str(sumA))

0到50的偶數和結果是:650
0到50的奇數和結果是:625

In [38]:
n=int(input("請輸入正整數"))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end="")
  print()

請輸入正整數7
*******
******
*****
****
***
**
*

In [39]:
sum=0
for i in range(1,101):
  if i %3 ==0 or i%7==0:
    sum += i
print("數值1到100中,所有是3或7倍數的數之總和=" +str(sum))

數值1到100中,所有是3或7倍數的數之總和=2208

In [40]:
n=int(input("請輸入正整數:"))

for i in range(1,n+1):
  if n % i ==0:
    print(n,'的因數有'+str(i))
for i in range(2,n):
  if n%i==0:
    print(str(n)+"不是質數")
    break
else:
  print(str(n)+"是質數")

請輸入正整數:12
12 的因數有1
12 的因數有2
12 的因數有3
12 的因數有4
12 的因數有6
12 的因數有12
12不是質數

In [41]:
n=int(input("請輸入正整數:"))

for i in range(1,n+1):
  if n % i ==0:
    print(n,'的因數有:'+str(i))
for i in range(2,n):
  if n%i==0:
    print(str(n)+"不是質數")
    break
else:
  print(str(n)+"是質數")

請輸入正整數:11
11 的因數有:1
11 的因數有:11
11是質數

In [44]:
list5=["tom","1234"],["mary","abcd"],["david","5678"]
print(list5[1])
print(list5[0])
print(list5[1][1])
print(list5[0][0])
print(list5[1][0])

['mary', 'abcd']
['tom', '1234']
abcd
tom
mary

In [45]:
list6=["國文成績:85分","數學成績:79分","英文成績:93分"]
print(list6[0])
print(list6[1])
print(list6[2])
score=[85,79,93]
print("國文成績:%d"%score[0])
print("數學成績:%d"%score[1])
print("英文成績:%d"%score[2])

國文成績:85分
數學成績:79分
英文成績:93分
國文成績:85
數學成績:79
英文成績:93

In [46]:
subjects=["國文","英文","數學"]
scores=[85,79,93]
for i in range(len(scores)):
  print("%s成績:%d分"%(subjects[i],scores[i]))

國文成績:85分
英文成績:79分
數學成績:93分

In [47]:
name=['Tom','Mary','Tony']
number=[1,2,3]
for i in range(len(name)):
  print("編號:%d 姓名:%s"%(number[i],name[i]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony